<div class="container">
    <div class="row">
    {% for part in summary.parts %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="title-secondary">{{ part.articles.length }} articles</span>
                        {{ part.title }}
                    </h3>
                </div>
                <div class="list-group">
                {% for article in part.articles %}
                    <a href="{{ article.path|resolveFile }}" class="list-group-item {% if loop.index > 6 %}hidden{% endif %}">
                        <i class="fa fa-file-o" aria-hidden="true"></i> {{ article.title }}
                    </a>
                {% endfor %}
                {% if part.articles.length >= 6 %}
                    <button type="button" class="list-group-item see-more">See more</button>
                {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

