<!DOCTYPE html>
<html lang="{{ config.language }}" {% if page.dir == "rtl" %}dir="rtl"{% endif %}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ config.title|d("DEFAULT_TITLE"|t, true) }}{% endblock %}</title>
        <meta name="description" content="{% block description %}{{ config.description }}{% endblock %}">

        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
            integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
            crossorigin="anonymous">
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"
            integrity="sha384-I6JCnqxMbC2DuiHjsoCiLa15NVbKRf8/ooANRLsXD87zD2dVqzlz6Oqjvj470ztk"
            crossorigin="anonymous">
        <link rel="stylesheet" href="{{ "style.css"|resolveAsset }}">
        {% for resource in plugins.resources.css %}
            {% if resource.url %}
            <link rel="stylesheet" href="{{ resource.url }}">
            {% else %}
            <link rel="stylesheet" href="{{ resource.path|resolveAsset }}">
            {% endif %}
        {% endfor %}
        {% for type, style in config.styles %}
            {% if style|fileExists and style == "website" %}
            <link rel="stylesheet" href="{{ style|resolveFile }}">
            {% endif %}
        {% endfor %}
    </head>
    <body>
        <nav class="faq-navbar navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ config.title|d("Help Center", true) }}</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-menu">
                    {% block faq_menu %}{% endblock %}
                </div>
            </div>
        </nav>

        <div class="faq-header">
            <div class="container">
            <h1>
                {% block faq_header_title %}
                    {% if page.level == "0" %}
                        {{ config.title|d("DEFAULT_TITLE"|t, true) }}
                    {% else %}
                        {{ page.title }}
                    {% endif %}
                {% endblock %}
            </h1>
            {% block search_input %}{% endblock %}
            </div>
        </div>
        {% block search_results %}
            {% block page %}{% endblock %}
        {% endblock %}
    </body>
    <script src="{{ "gitbook.js"|resolveAsset }}"></script>
    {% for resource in plugins.resources.js %}
        {% if resource.url %}
        <script src="{{ resource.url }}"></script>
        {% else %}
        <script src="{{ resource.path|resolveAsset }}"></script>
        {% endif %}
    {% endfor %}
    <script>
    (function() {
        gitbook.page.hasChanged({
            basePath: "{{ './'|resolveFile }}",
            page: {{ page|dump|safe }},
            file: {{ file|dump|safe }},
            gitbook: {{ gitbook|dump|safe }},
            config: {{ config|dump|safe }},
        })
    })();
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    {% block js %}
    <script>
        $(document).ready(function() {
            $('.see-more').click(function() {
                var $btn = $(this);
                var $panel = $btn.parents('.panel');
                $panel.find('.list-group-item').removeClass('hidden');
                $btn.hide();
            });
        });
    </script>
    {% endblock %}
</html>